.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
}
.heroMain, .footer {
background-color: #1F2937;
}
h1 {
    font-size: 48px;
    font-weight: 800; 
    color: #F9FAF8;
}
.subtext, .headerRightLinks {
font-size: 18px;
color:#E5E7EB;

}
h1, .subtext {
    margin-bottom: 10px; /* Add space between text elements */
    max-width: 350px;
}



.logoImage {
  justify-content: center;
  align-items: center;
    display: flex;
    flex:1;
}

.logoImage img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    
}

.headerLogo {
    font-size: 24px;
    color:#F9FAF8;
    display:flex;
    font-weight: 800; 
}

.button, .callToAction {
    background: #3882F6;
    color: white;
}

.midTitle {
    font-size: 36px;
    font-weight: 800; 
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quoteText {
    font-size: 36px;
    font-weight: 300; /* Light weight */
    font-style: italic; /* Italic style */
    color: #1F2937;

}

.heroMain {
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}


.header, .right {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 12px;
}
 ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
 }
 a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #E5E7EB;

  }

.signup, .ctaSignup {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
}
.container {
    display: flex;
    align-items: center;
}
.leftContainer {
    flex: 1;
    line-height: 1.5;
    margin-bottom: 20px;
}

.signup{
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
    
}